body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


header, footer{
background-color:#002848;
min-height: 40px;
}
.homeBackground{
background-color: #013A6B;
background-image: -webkit-linear-gradient(50deg, #013A6B 50%, #004E95 50%);
min-height: 500px;
}